.drawer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    z-index: 999;
}

.f-sidenav {
    background-color: #232034;
    margin-top: 20px;
}

/* Links */
.f-sidenav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 75%;
    margin-top: 25px;
}
.f-sidenav-links::before, .f-sidenav-link.active::before  {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 10px;
}
.f-sidenav-links.f-column {
    flex-direction: column;
}
.f-sidenav-link {
    position: relative;
    text-align: center;
    padding: 23px 0px;
}
.f-sidenav-link:hover {
    cursor: pointer;
}
.f-sidenav-link .f-sidenav-icon {
    font-size: 19px;
    opacity: 0.5;
    transition: opacity 0.25s;
    background-size: contain;
    background-position: center;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    background-repeat: no-repeat;
}
.f-sidenav-link .f-sidenav-icon:hover {
    opacity: 0.8;
}
.f-sidenav-link.active .f-sidenav-icon {
    opacity: 1;
}
.f-sidenav-link.active::before {
    width: 4vw;
    height: 4vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.05);
}

/* Brand img */
.f-sidenav-brand {
    width: 100%;
    text-align: center;
}
.f-sidenav-brand img {
    width: 50px;
    height: auto;
}

/* Icons */
.dashboard-btn {
    background: url('../resources/icons/logo-256-256.ico');
}
.tasks-btn {
    background-image: url('../resources/Buttons/FootsiteTaskButton.svg');
}
.profiles-btn {
    background-image: url('../resources/Buttons/FootsiteProfileButton.svg');
}
.proxies-btn {
    background-image: url('../resources/Buttons/FootsiteProxyButton.svg');
}
.settings-btn {
    background-image: url('../resources/Buttons/FootsiteSettingsButton.svg');
}